.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #18BC9C;
  color: whitesmoke;
  height: 100vh;
}

.img {
  margin-top: 25px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

h2 {
  font-size: 2em;
  font-weight: 300;
  margin: 0;
}

p {
  font-size: 1.6em;
  text-align: center;
}

.wrapper{
  width: 45%;
}

.first {
  margin-top: 25px;
  text-align: start;
}
.second {
  text-align: center;
}
.third {
  text-align: end;
}

@media all and (max-width: 769px) {
  .wrapper {
    width: auto;
    display: flex;
    flex-direction: column;
  }

  p {
    font-size: 1.3em;
  }
  
}