
.navbar-container {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #2C3E50;
  color: whitesmoke;
  align-items: center;
  justify-content: space-between;
  font-size: 2em;
  transition: all ease 0.3s;
}

.mobile-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-name {
  padding-left: 10px;
}

.hamburger-menu {
  padding-right: 10px;
  cursor: pointer;
}

.hamburger, 
.hamburger::before,
.hamburger::after {
  content: '';
  display: none;
  background: whitesmoke;
  height: 3px;
  width: 1.2em;
  border-radius: 3px;
  transition: all ease-in-out 200ms;
}

.hamburger::before {
  transform: translateY(-8px);
}

.hamburger::after {
  transform: translateY(5px);
}

.hamburger-animation .hamburger {
  transform: rotate(45deg);
}

.hamburger-animation .hamburger::before {
  opacity: 0;
}

.hamburger-animation .hamburger::after {
  transform: translateY(-2px) rotate(-90deg);
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  transition: all ease-in-out 200ms;
}

.nav-links > div > a {
  color: whitesmoke;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8em;
}

.nav-links > div > a:link {
    text-decoration: none;
    color: whitesmoke;
}

.nav-links > div  > a:visited {
    text-decoration: none;
}

.nav-links > div > a:hover {
    text-decoration: none;
}

.nav-links > div  > a:active {
    text-decoration: none;
    color: whitesmoke;
}

.hide {
  max-height: 0;
  overflow: hidden;
}

.show {
  max-height: 20em;
}

@media all and (max-width: 769px) {
  .navbar-container {
    display: block;
  }

  .nav-links {
    display: block;
  }

  .hamburger, 
  .hamburger::before,
  .hamburger::after {
    display: block;
  }

  .nav-links > a {
    padding-left: 0px;
  } 
}