.modal-container {
  position:fixed;
  background: whitesmoke;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1000;
  overflow-y:scroll;
  overflow-x:hidden;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 1em;
  padding-left: 1em;
}

.modal-body > p {
  line-height: 1.8em;
  text-align: center;
}

.hide-body-scroll {
  overflow: hidden;
}

.close-btn-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 1em;
  cursor: pointer;
}

.btn-container {
  padding: 2em;
  display: flex;
  justify-content: space-around;
}

.button {
  font-size: 1.5em;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  color: black;
  padding: .5em;
  text-decoration: none;
}

.button:focus,
.button:hover {
  background-color: #18BC9C;
  color: whitesmoke;
}

.fa-padding {
  padding-right: 6px;
}

.tech-container {
  font-size: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tech-tag {
  padding: 10px;
}