.modal-container {
  position:fixed;
  background: whitesmoke;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1000;
  overflow-y:scroll;
  overflow-x:hidden;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 1em;
  padding-left: 1em;
}

.hide-body-scroll {
  overflow: hidden;
}

.close-btn-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 1em;
  cursor: pointer;
}