@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background: whitesmoke;
}
